body {
   font: .81em/150% Arial, Helvetica, sans-serif;
   word-wrap: break-word;
}

.drop-down {
   display: block;
   width: 250px;
   background: #9a9a9a;
   text-align: center;
   cursor: pointer;
}

.child-page-list {
   width: 200px;
   margin-top: 10px;
   display: none;
}

.child-page-list li {
   width: 100%;
   background-color: #ccc;
   overflow: hidden;
   display: block;
}

.child-page-list li a {
   width: 100%;
   margin-left: 20px;
   color: #000;
}

.child-page-list li img {
   float: right;
}
